/* $. Containers
\*----------------------------------------------------------------*/

main{
	margin-bottom: 4em;
}

.container {
    margin: 0 auto;
    width: 92.5%;
    max-width: $container-max-width;
    @include respond-min($bp1) {
        width: 85%;
    }
}

.container--wide{
	max-width: $container-max-width * 1.25;
}

.footer{
	background-color: darken(#FFF, 5%);
	padding: 1em 0;
}