.panels{
	min-height: 20em;
	background: #FFF;
	display: flex;
	min-width: 10em;
}

.panels__block{
	flex: 1;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;

	&:hover{
		background: #eee;
	}
}