.icon--blog-logo { background-image: url('png/blog-logo.png'); background-repeat: no-repeat; }

.icon--instagram-logo { background-image: url('png/instagram-logo.png'); background-repeat: no-repeat; }

.icon--mixd-logo { background-image: url('png/mixd-logo.png'); background-repeat: no-repeat; }

.icon--twitter-logo { background-image: url('png/twitter-logo.png'); background-repeat: no-repeat; }

.icon--witw-logo { background-image: url('png/witw-logo.png'); background-repeat: no-repeat; }

